<a href="https://colab.research.google.com/github/SA6246/NYU_Tandon_Databases_Spring/blob/main/project/demo_notesbooks/2-tier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For this 2-tier CRUD demonstration, you can either refer to the reviewed git page or access a notebook example by clicking on `Open in Colab` located at the top left corner of the screen. This action will redirect you to an interactive Jupyter-style notebook, allowing you to execute the code independently. Please note that logging into Google is required to proceed.

## Download the `createdb.sql` file to source our tables

In [1]:
!wget https://raw.githubusercontent.com/SA6246/Databases_NYU_Spring_24/main/sources/createdb.sql createdb.sql

--2024-05-04 15:13:26--  https://raw.githubusercontent.com/SA6246/Databases_NYU_Spring_24/main/sources/createdb.sql
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6790 (6.6K) [text/plain]
Saving to: ‘createdb.sql’

createdb.sql        100%[===================>]   6.63K  --.-KB/s    in 0s

2024-05-04 15:13:26 (47.4 MB/s) - ‘createdb.sql’ saved [6790/6790]

--2024-05-04 15:13:26--  http://createdb.sql/
Resolving createdb.sql (createdb.sql)... failed: Name or service not known.
wget: unable to resolve host address ‘createdb.sql’
FINISHED --2024-05-04 15:13:26--
Total wall clock time: 0.1s
Downloaded: 1 files, 6.6K in 0s (47.4 MB/s)

## Install our `mysql` python dependencies

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.4/19.4 MB 20.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0

In [3]:
!apt-get -y install mysql-server

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server-8.0 mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl mailx tinyca
The following NEW packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server mysql-server-8.0 mysql-server-core-8.0
0 upgraded, 25 newly installed, 0 to remove and 45 not upgraded.
Need to get 29.4 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.36-0ubuntu0.22.04.1 [2,692 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.36-0ubuntu0.22.04.1 [22.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.1 [209 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.36-0ubuntu0.22.04.1 [17.5 MB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.36-0ubuntu0.22.04.1 [1,437 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi0ldbl amd64 2.4.2-2build2 [28.0 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-bin amd64 2.4.2-2build2 [11.2 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:25 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.36-0ubuntu0.22.04.1 [9,460 B]
Fetched 29.4 MB in 4s (8,394 kB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 121920 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.36-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.36-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../02-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../03-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.1_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../04-mysql-server-core-8.0_8.0.36-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../05-mysql-server-8.0_8.0.36-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../06-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../07-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../08-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../09-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../10-libfcgi0ldbl_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../11-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../12-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../13-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../14-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../15-libfcgi-bin_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2build2) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../16-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../17-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../18-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../19-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../20-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../21-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../22-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../23-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../24-mysql-server_8.0.36-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-server (8.0.36-0ubuntu0.22.04.1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2build2) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-server-core-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Setting up mysql-client-8.0 (8.0.36-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mysql-server-8.0 (8.0.36-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 1307
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server (8.0.36-0ubuntu0.22.04.1) ...
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

## Start our mysql server the following cells:
- Change the server password
- Sources the tables for our DB fromt he `createdb.sql` file
- Exits from the server console; outputs successful message on execution

In [4]:
!service mysql start

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [5]:
!mysql -u root -proot -e "ALTER USER 'root'@'localhost' IDENTIFIED BY 'root'; source createdb.sql;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+-------------------------------------------+
| Message                                   |
+-------------------------------------------+
| Database and tables created successfully! |
+-------------------------------------------+

In [6]:
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'root';FLUSH PRIVILEGES;"

In [7]:
import mysql.connector
import pandas as pd

# Create a connection to the MySQL server
conn = mysql.connector.connect(user='root', password='root', host='localhost')

# Create a cursor to interact with the MySQL server
cursor = conn.cursor()

## Build simple query against `expansive_store` database

In [8]:
command = """
    SELECT
        *
    FROM
        expansive_store.customers;
"""

## Develop a function to retrieve data from the database and present it as a Pandas DataFrame. While the display method may vary in a web application interface, this straightforward approach is effective for the current context.

In [9]:
def execute_sql_and_display(cursor, command):
    # Execute the SQL command
    cursor.execute(command)

    # Fetch all the results
    records = cursor.fetchall()

    # Create a DataFrame from the records
    df = pd.DataFrame(records)

    # Display the DataFrame
    display(df)


execute_sql_and_display(cursor,command)

,0,1,2,3,4,5
0,1,John,Doe,john.doe@example.com,123-456-7890,"123 Main St, Anytown, USA"
1,2,Jane,Smith,jane.smith@example.com,456-789-0123,"456 Elm St, Othertown, USA"
2,3,Alice,Johnson,alice.johnson@example.com,789-012-3456,"789 Oak St, Anothertown, USA"

# `CRUD`

## `Create`: This operation is used to create new records or entities in a database. In SQL databases, it corresponds to the INSERT statement, which adds new rows of data to a table. Which is technically already done when we source the `.sql` file from my github.

In [10]:
command_c = """
      INSERT INTO expansive_store.customers
                  (first_name,
                  last_name,
                  email,
                  phone,
                  address)
      VALUES      ('Emily',
                  'Brown',
                  'emily.brown@example.com',
                  '987-654-3210',
                  '987 Maple St, Anycity, USA');
"""
execute_sql_and_display(cursor,command_c)

Empty DataFrame
Columns: []
Index: []

## `Read` (SELECT): Retrieving data from the "customers" table.

In [11]:
# Use previous command we assigned to the variable command.

execute_sql_and_display(cursor,command)

,0,1,2,3,4,5
0,1,John,Doe,john.doe@example.com,123-456-7890,"123 Main St, Anytown, USA"
1,2,Jane,Smith,jane.smith@example.com,456-789-0123,"456 Elm St, Othertown, USA"
2,3,Alice,Johnson,alice.johnson@example.com,789-012-3456,"789 Oak St, Anothertown, USA"
3,4,Emily,Brown,emily.brown@example.com,987-654-3210,"987 Maple St, Anycity, USA"

# `Update` (UPDATE): Modifying an existing record in the "customers" table.

In [12]:
command_u = """
    UPDATE
        expansive_store.customers
    SET
        email = 'updateemail@example.com'
    WHERE
        first_name = 'Emily' AND last_name = 'Brown';
"""
execute_sql_and_display(cursor, command_u)
execute_sql_and_display(cursor, command)

Empty DataFrame
Columns: []
Index: []

,0,1,2,3,4,5
0,1,John,Doe,john.doe@example.com,123-456-7890,"123 Main St, Anytown, USA"
1,2,Jane,Smith,jane.smith@example.com,456-789-0123,"456 Elm St, Othertown, USA"
2,3,Alice,Johnson,alice.johnson@example.com,789-012-3456,"789 Oak St, Anothertown, USA"
3,4,Emily,Brown,updateemail@example.com,987-654-3210,"987 Maple St, Anycity, USA"

# `Delete` (DELETE): Removing a record from the "customers" table.

In [13]:
command_d = """
    DELETE FROM
      expansive_store.customers
    WHERE
      first_name = 'Emily' AND last_name = 'Brown';
"""
execute_sql_and_display(cursor, command_d)
execute_sql_and_display(cursor, command)

Empty DataFrame
Columns: []
Index: []

,0,1,2,3,4,5
0,1,John,Doe,john.doe@example.com,123-456-7890,"123 Main St, Anytown, USA"
1,2,Jane,Smith,jane.smith@example.com,456-789-0123,"456 Elm St, Othertown, USA"
2,3,Alice,Johnson,alice.johnson@example.com,789-012-3456,"789 Oak St, Anothertown, USA"

In the future, this approach could be integrated as a backend task within a self-hosted Flask application. This would involve adapting the command variables passed into the `execute_sql_display` function to accept user input and return the Pandas message for display. Alternatively, the current environment could be retained as is, as long as the runtime persists unless intentionally erased or times out after a certain duration. This setup would continue to function as a sandbox environment offering CRUD capabilities to its users. The challenge lies in providing your own `.sql` file. The file I've referenced is provided below if you'd like to review it.

In [14]:
import pprint as p

with open("createdb.sql", "r") as file:
    sql_content = file.read()

print(sql_content)

-- Create the database
DROP DATABASE IF EXISTS expansive_store;
CREATE DATABASE expansive_store;
USE expansive_store;
-- Create tables
CREATE TABLE customers (
  customer_id         INT            PRIMARY KEY   AUTO_INCREMENT,
  first_name          VARCHAR(100)   NOT NULL,
  last_name           VARCHAR(100)   NOT NULL,
  email               VARCHAR(255)   NOT NULL      UNIQUE,
  phone               VARCHAR(20)                    DEFAULT NULL,
  address             VARCHAR(255)                  DEFAULT NULL
);
CREATE TABLE orders (
  order_id            INT            PRIMARY KEY   AUTO_INCREMENT,
  customer_id         INT            NOT NULL,
  order_date          DATETIME       NOT NULL,
  ship_amount         DECIMAL(10,2)  NOT NULL,
  tax_amount          DECIMAL(10,2)  NOT NULL,
  ship_date           DATETIME                   DEFAULT NULL,
  ship_address        VARCHAR(255)   NOT NULL,
  card_type           VARCHAR(50)    NOT NULL,
  card_number         VARCHAR(20)    NOT NULL,
  card_expires        VARCHAR(7)     NOT NULL,
  billing_address     VARCHAR(255)   NOT NULL
);
CREATE TABLE products (
  product_id          INT            PRIMARY KEY   AUTO_INCREMENT,
  category_id         INT            NOT NULL,
  product_code        VARCHAR(20)    NOT NULL      UNIQUE,
  product_name        VARCHAR(255)   NOT NULL,
  description         TEXT           NOT NULL,
  list_price          DECIMAL(10,2)  NOT NULL,
  discount_percent    DECIMAL(10,2)  NOT NULL      DEFAULT 0.00,
  date_added          DATETIME                     DEFAULT NULL,
  manufacturer        VARCHAR(100)                DEFAULT NULL,
  material            VARCHAR(100)                DEFAULT NULL
);
CREATE TABLE order_items (
  item_id             INT            PRIMARY KEY   AUTO_INCREMENT,
  order_id            INT            NOT NULL,
  product_id          INT            NOT NULL,
  item_price          DECIMAL(10,2)  NOT NULL,
  discount_amount     DECIMAL(10,2)  NOT NULL,
  quantity            INT            NOT NULL,
  CONSTRAINT items_fk_orders
    FOREIGN KEY (order_id)
    REFERENCES orders (order_id),
  CONSTRAINT items_fk_products
    FOREIGN KEY (product_id)
    REFERENCES products (product_id)
);
CREATE TABLE categories (
  category_id         INT            PRIMARY KEY   AUTO_INCREMENT,
  category_name       VARCHAR(255)   NOT NULL      UNIQUE
);
CREATE TABLE addresses (
  address_id          INT            PRIMARY KEY   AUTO_INCREMENT,
  customer_id         INT            NOT NULL,
  line1               VARCHAR(100)   NOT NULL,
  line2               VARCHAR(100)                   DEFAULT NULL,
  city                VARCHAR(100)   NOT NULL,
  state               VARCHAR(50)    NOT NULL,
  zip_code            VARCHAR(20)    NOT NULL,
  phone               VARCHAR(20)                    DEFAULT NULL,
  CONSTRAINT addresses_fk_customers
    FOREIGN KEY (customer_id)
    REFERENCES customers (customer_id)
);
CREATE TABLE administrators (
  admin_id            INT            PRIMARY KEY   AUTO_INCREMENT,
  email_address       VARCHAR(255)   NOT NULL,
  password            VARCHAR(255)   NOT NULL,
  first_name          VARCHAR(100)   NOT NULL,
  last_name           VARCHAR(100)   NOT NULL
);
-- Additional tables for an expansive store
CREATE TABLE warehouses (
  warehouse_id        INT            PRIMARY KEY   AUTO_INCREMENT,
  warehouse_name      VARCHAR(255)   NOT NULL      UNIQUE,
  location            VARCHAR(255)   NOT NULL
);
CREATE TABLE suppliers (
  supplier_id         INT            PRIMARY KEY   AUTO_INCREMENT,
  supplier_name       VARCHAR(255)   NOT NULL      UNIQUE,
  contact_name        VARCHAR(100)   NOT NULL,
  email               VARCHAR(255)   NOT NULL,
  phone               VARCHAR(20)    NOT NULL
);
CREATE TABLE inventory (
  inventory_id        INT            PRIMARY KEY   AUTO_INCREMENT,
  product_id          INT            NOT NULL,
  warehouse_id        INT            NOT NULL,
  quantity            INT            NOT NULL,
  last_restock_date   DATETIME       NOT NULL,
  CONSTRAINT inventory_fk_products
    FOREIGN KEY (product_id)
    REFERENCES products (product_id),
  CONSTRAINT inventory_fk_warehouses
    FOREIGN KEY (warehouse_id)
    REFERENCES warehouses (warehouse_id)
);
CREATE TABLE supplier_products (
  supplier_product_id INT            PRIMARY KEY   AUTO_INCREMENT,
  supplier_id         INT            NOT NULL,
  product_id          INT            NOT NULL,
  unit_price          DECIMAL(10,2)  NOT NULL,
  CONSTRAINT supplier_products_fk_suppliers
    FOREIGN KEY (supplier_id)
    REFERENCES suppliers (supplier_id),
  CONSTRAINT supplier_products_fk_products
    FOREIGN KEY (product_id)
    REFERENCES products (product_id)
);
-- Print success message
SELECT 'Database and tables created successfully!' AS Message;

-- Insert data into customers table
INSERT INTO customers (first_name, last_name, email, phone, address) VALUES
('John', 'Doe', 'john.doe@example.com', '123-456-7890', '123 Main St, Anytown, USA'),
('Jane', 'Smith', 'jane.smith@example.com', '456-789-0123', '456 Elm St, Othertown, USA'),
('Alice', 'Johnson', 'alice.johnson@example.com', '789-012-3456', '789 Oak St, Anothertown, USA');
-- Insert data into orders table
INSERT INTO orders (customer_id, order_date, ship_amount, tax_amount, ship_date, ship_address, card_type, card_number, card_expires, billing_address) VALUES
(1, '2024-04-07 10:00:00', 10.00, 5.00, '2024-04-09 10:00:00', '123 Main St, Anytown, USA', 'Visa', '4111111111111111', '04/26', '123 Main St, Anytown, USA'),
(2, '2024-04-07 11:00:00', 10.00, 5.00, '2024-04-09 11:00:00', '456 Elm St, Othertown, USA', 'MasterCard', '5555555555554444', '05/27', '456 Elm St, Othertown, USA'),
(3, '2024-04-07 12:00:00', 10.00, 5.00, '2024-04-09 12:00:00', '789 Oak St, Anothertown, USA', 'American Express', '378282246310005', '06/28', '789 Oak St, Anothertown, USA');
-- Insert data into products table
INSERT INTO products (category_id, product_code, product_name, description, list_price, discount_percent, date_added, manufacturer, material) VALUES
(1, 'guitar1', 'Acoustic Guitar', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec velit vitae tortor luctus feugiat. Integer eu neque vitae turpis cursus lacinia.', 299.99, 0.00, '2023-01-01', 'Gibson', 'Mahogany'),
(1, 'guitar2', 'Electric Guitar', 'Sed eu leo vel purus mollis facilisis. Fusce volutpat lorem id mi malesuada convallis. Vestibulum hendrerit diam et sapien eleifend, nec sollicitudin risus dignissim.', 599.99, 0.00, '2023-01-02', 'Fender', 'Maple'),
(2, 'bass1', 'Electric Bass Guitar', 'Vestibulum tempus, sem id ultricies ultrices, tortor felis convallis felis, non vestibulum dolor odio nec metus. Nam eget laoreet lacus.', 499.99, 0.00, '2023-01-03', 'Ibanez', 'Basswood');