<a href="https://colab.research.google.com/github/SA6246/NYU_Tandon_Databases_Spring/blob/main/project/notebooks/CRUD_Example_Simple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For this CRUD demonstration, you can either refer to the reviewed git page or access a notebook example by clicking on `Open in Colab` located at the top left corner of the screen. This action will redirect you to an interactive Jupyter-style notebook, allowing you to execute the code independently. Please note that logging into Google is required to proceed.

## Download the `createdb.sql` file to source our tables

In [ ]:
!wget https://raw.githubusercontent.com/SA6246/NYU_Tandon_Databases_Spring/main/project/sources/createdb.sql createdb.sql

## Install our `mysql` python dependencies

In [ ]:
!pip install mysql-connector-python

In [ ]:
!apt-get -y install mysql-server

## Start our mysql server the following cells:
- Change the server password
- Sources the tables for our DB fromt he `createdb.sql` file
- Exits from the server console; outputs successful message on execution

In [ ]:
!service mysql start

In [5]:
!mysql -u root -proot -e "ALTER USER 'root'@'localhost' IDENTIFIED BY 'root'; source createdb.sql;"

mysql: [Warning] Using a password on the command line interface can be insecure.
+-------------------------------------------+
| Message                                   |
+-------------------------------------------+
| Database and tables created successfully! |
+-------------------------------------------+

In [6]:
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'root';FLUSH PRIVILEGES;"

In [7]:
import mysql.connector
import pandas as pd

# Create a connection to the MySQL server
conn = mysql.connector.connect(user='root', password='root', host='localhost')

# Create a cursor to interact with the MySQL server
cursor = conn.cursor()

## Build simple query against `expansive_store` database

In [8]:
command = """
    SELECT
        *
    FROM
        expansive_store.customers;
"""

## Develop a function to retrieve data from the database and present it as a Pandas DataFrame. While the display method may vary in a web application interface, this straightforward approach is effective for the current context.

In [9]:
def execute_sql_and_display(cursor, command):
    # Execute the SQL command
    cursor.execute(command)

    # Fetch all the results
    records = cursor.fetchall()

    # Create a DataFrame from the records
    df = pd.DataFrame(records)

    # Display the DataFrame
    display(df)


execute_sql_and_display(cursor,command)

,0,1,2,3,4,5
0,1,John,Doe,john.doe@example.com,123-456-7890,"123 Main St, Anytown, USA"
1,2,Jane,Smith,jane.smith@example.com,456-789-0123,"456 Elm St, Othertown, USA"
2,3,Alice,Johnson,alice.johnson@example.com,789-012-3456,"789 Oak St, Anothertown, USA"

# `CRUD`

## `Create`: This operation is used to create new records or entities in a database. In SQL databases, it corresponds to the INSERT statement, which adds new rows of data to a table. Which is technically already done when we source the `.sql` file from my github.

In [10]:
command_c = """
      INSERT INTO expansive_store.customers
                  (first_name,
                  last_name,
                  email,
                  phone,
                  address)
      VALUES      ('Emily',
                  'Brown',
                  'emily.brown@example.com',
                  '987-654-3210',
                  '987 Maple St, Anycity, USA');
"""
execute_sql_and_display(cursor,command_c)

Empty DataFrame
Columns: []
Index: []

## `Read` (SELECT): Retrieving data from the "customers" table.

In [11]:
# Use previous command we assigned to the variable command.

execute_sql_and_display(cursor,command)

,0,1,2,3,4,5
0,1,John,Doe,john.doe@example.com,123-456-7890,"123 Main St, Anytown, USA"
1,2,Jane,Smith,jane.smith@example.com,456-789-0123,"456 Elm St, Othertown, USA"
2,3,Alice,Johnson,alice.johnson@example.com,789-012-3456,"789 Oak St, Anothertown, USA"
3,4,Emily,Brown,emily.brown@example.com,987-654-3210,"987 Maple St, Anycity, USA"

# `Update` (UPDATE): Modifying an existing record in the "customers" table.

In [13]:
command_u = """
    UPDATE
        expansive_store.customers
    SET
        email = 'updateemail@example.com'
    WHERE
        first_name = 'Emily' AND last_name = 'Brown';
"""
execute_sql_and_display(cursor, command_u)
execute_sql_and_display(cursor, command)

Empty DataFrame
Columns: []
Index: []

,0,1,2,3,4,5
0,1,John,Doe,john.doe@example.com,123-456-7890,"123 Main St, Anytown, USA"
1,2,Jane,Smith,jane.smith@example.com,456-789-0123,"456 Elm St, Othertown, USA"
2,3,Alice,Johnson,alice.johnson@example.com,789-012-3456,"789 Oak St, Anothertown, USA"
3,4,Emily,Brown,updateemail@example.com,987-654-3210,"987 Maple St, Anycity, USA"

# `Delete` (DELETE): Removing a record from the "customers" table.

In [14]:
command_d = """
    DELETE FROM
      expansive_store.customers
    WHERE
      first_name = 'Emily' AND last_name = 'Brown';
"""
execute_sql_and_display(cursor, command_d)
execute_sql_and_display(cursor, command)

Empty DataFrame
Columns: []
Index: []

,0,1,2,3,4,5
0,1,John,Doe,john.doe@example.com,123-456-7890,"123 Main St, Anytown, USA"
1,2,Jane,Smith,jane.smith@example.com,456-789-0123,"456 Elm St, Othertown, USA"
2,3,Alice,Johnson,alice.johnson@example.com,789-012-3456,"789 Oak St, Anothertown, USA"

In the future, this approach could be integrated as a backend task within a self-hosted Flask application. This would involve adapting the command variables passed into the `execute_sql_display` function to accept user input and return the Pandas message for display. Alternatively, the current environment could be retained as is, as long as the runtime persists unless intentionally erased or times out after a certain duration. This setup would continue to function as a sandbox environment offering CRUD capabilities to its users. The challenge lies in providing your own `.sql` file. The file I've referenced is provided below if you'd like to review it.

In [24]:
import pprint as p

with open("createdb.sql", "r") as file:
    sql_content = file.read()

print(sql_content)

-- Create the database
DROP DATABASE IF EXISTS expansive_store;
CREATE DATABASE expansive_store;
USE expansive_store;
-- Create tables
CREATE TABLE customers (
  customer_id         INT            PRIMARY KEY   AUTO_INCREMENT,
  first_name          VARCHAR(100)   NOT NULL,
  last_name           VARCHAR(100)   NOT NULL,
  email               VARCHAR(255)   NOT NULL      UNIQUE,
  phone               VARCHAR(20)                    DEFAULT NULL,
  address             VARCHAR(255)                  DEFAULT NULL
);
CREATE TABLE orders (
  order_id            INT            PRIMARY KEY   AUTO_INCREMENT,
  customer_id         INT            NOT NULL,
  order_date          DATETIME       NOT NULL,
  ship_amount         DECIMAL(10,2)  NOT NULL,
  tax_amount          DECIMAL(10,2)  NOT NULL,
  ship_date           DATETIME                   DEFAULT NULL,
  ship_address        VARCHAR(255)   NOT NULL,
  card_type           VARCHAR(50)    NOT NULL,
  card_number         VARCHAR(20)    NOT NULL,
  card_expires        VARCHAR(7)     NOT NULL,
  billing_address     VARCHAR(255)   NOT NULL
);
CREATE TABLE products (
  product_id          INT            PRIMARY KEY   AUTO_INCREMENT,
  category_id         INT            NOT NULL,
  product_code        VARCHAR(20)    NOT NULL      UNIQUE,
  product_name        VARCHAR(255)   NOT NULL,
  description         TEXT           NOT NULL,
  list_price          DECIMAL(10,2)  NOT NULL,
  discount_percent    DECIMAL(10,2)  NOT NULL      DEFAULT 0.00,
  date_added          DATETIME                     DEFAULT NULL,
  manufacturer        VARCHAR(100)                DEFAULT NULL,
  material            VARCHAR(100)                DEFAULT NULL
);
CREATE TABLE order_items (
  item_id             INT            PRIMARY KEY   AUTO_INCREMENT,
  order_id            INT            NOT NULL,
  product_id          INT            NOT NULL,
  item_price          DECIMAL(10,2)  NOT NULL,
  discount_amount     DECIMAL(10,2)  NOT NULL,
  quantity            INT            NOT NULL,
  CONSTRAINT items_fk_orders
    FOREIGN KEY (order_id)
    REFERENCES orders (order_id),
  CONSTRAINT items_fk_products
    FOREIGN KEY (product_id)
    REFERENCES products (product_id)
);
CREATE TABLE categories (
  category_id         INT            PRIMARY KEY   AUTO_INCREMENT,
  category_name       VARCHAR(255)   NOT NULL      UNIQUE
);
CREATE TABLE addresses (
  address_id          INT            PRIMARY KEY   AUTO_INCREMENT,
  customer_id         INT            NOT NULL,
  line1               VARCHAR(100)   NOT NULL,
  line2               VARCHAR(100)                   DEFAULT NULL,
  city                VARCHAR(100)   NOT NULL,
  state               VARCHAR(50)    NOT NULL,
  zip_code            VARCHAR(20)    NOT NULL,
  phone               VARCHAR(20)                    DEFAULT NULL,
  CONSTRAINT addresses_fk_customers
    FOREIGN KEY (customer_id)
    REFERENCES customers (customer_id)
);
CREATE TABLE administrators (
  admin_id            INT            PRIMARY KEY   AUTO_INCREMENT,
  email_address       VARCHAR(255)   NOT NULL,
  password            VARCHAR(255)   NOT NULL,
  first_name          VARCHAR(100)   NOT NULL,
  last_name           VARCHAR(100)   NOT NULL
);
-- Additional tables for an expansive store
CREATE TABLE warehouses (
  warehouse_id        INT            PRIMARY KEY   AUTO_INCREMENT,
  warehouse_name      VARCHAR(255)   NOT NULL      UNIQUE,
  location            VARCHAR(255)   NOT NULL
);
CREATE TABLE suppliers (
  supplier_id         INT            PRIMARY KEY   AUTO_INCREMENT,
  supplier_name       VARCHAR(255)   NOT NULL      UNIQUE,
  contact_name        VARCHAR(100)   NOT NULL,
  email               VARCHAR(255)   NOT NULL,
  phone               VARCHAR(20)    NOT NULL
);
CREATE TABLE inventory (
  inventory_id        INT            PRIMARY KEY   AUTO_INCREMENT,
  product_id          INT            NOT NULL,
  warehouse_id        INT            NOT NULL,
  quantity            INT            NOT NULL,
  last_restock_date   DATETIME       NOT NULL,
  CONSTRAINT inventory_fk_products
    FOREIGN KEY (product_id)
    REFERENCES products (product_id),
  CONSTRAINT inventory_fk_warehouses
    FOREIGN KEY (warehouse_id)
    REFERENCES warehouses (warehouse_id)
);
CREATE TABLE supplier_products (
  supplier_product_id INT            PRIMARY KEY   AUTO_INCREMENT,
  supplier_id         INT            NOT NULL,
  product_id          INT            NOT NULL,
  unit_price          DECIMAL(10,2)  NOT NULL,
  CONSTRAINT supplier_products_fk_suppliers
    FOREIGN KEY (supplier_id)
    REFERENCES suppliers (supplier_id),
  CONSTRAINT supplier_products_fk_products
    FOREIGN KEY (product_id)
    REFERENCES products (product_id)
);
-- Print success message
SELECT 'Database and tables created successfully!' AS Message;

-- Insert data into customers table
INSERT INTO customers (first_name, last_name, email, phone, address) VALUES
('John', 'Doe', 'john.doe@example.com', '123-456-7890', '123 Main St, Anytown, USA'),
('Jane', 'Smith', 'jane.smith@example.com', '456-789-0123', '456 Elm St, Othertown, USA'),
('Alice', 'Johnson', 'alice.johnson@example.com', '789-012-3456', '789 Oak St, Anothertown, USA');
-- Insert data into orders table
INSERT INTO orders (customer_id, order_date, ship_amount, tax_amount, ship_date, ship_address, card_type, card_number, card_expires, billing_address) VALUES
(1, '2024-04-07 10:00:00', 10.00, 5.00, '2024-04-09 10:00:00', '123 Main St, Anytown, USA', 'Visa', '4111111111111111', '04/26', '123 Main St, Anytown, USA'),
(2, '2024-04-07 11:00:00', 10.00, 5.00, '2024-04-09 11:00:00', '456 Elm St, Othertown, USA', 'MasterCard', '5555555555554444', '05/27', '456 Elm St, Othertown, USA'),
(3, '2024-04-07 12:00:00', 10.00, 5.00, '2024-04-09 12:00:00', '789 Oak St, Anothertown, USA', 'American Express', '378282246310005', '06/28', '789 Oak St, Anothertown, USA');
-- Insert data into products table
INSERT INTO products (category_id, product_code, product_name, description, list_price, discount_percent, date_added, manufacturer, material) VALUES
(1, 'guitar1', 'Acoustic Guitar', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec velit vitae tortor luctus feugiat. Integer eu neque vitae turpis cursus lacinia.', 299.99, 0.00, '2023-01-01', 'Gibson', 'Mahogany'),
(1, 'guitar2', 'Electric Guitar', 'Sed eu leo vel purus mollis facilisis. Fusce volutpat lorem id mi malesuada convallis. Vestibulum hendrerit diam et sapien eleifend, nec sollicitudin risus dignissim.', 599.99, 0.00, '2023-01-02', 'Fender', 'Maple'),
(2, 'bass1', 'Electric Bass Guitar', 'Vestibulum tempus, sem id ultricies ultrices, tortor felis convallis felis, non vestibulum dolor odio nec metus. Nam eget laoreet lacus.', 499.99, 0.00, '2023-01-03', 'Ibanez', 'Basswood');